@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana,sans-serif;
}
body{
    background: #080808;
    min-height: 80vh;
   background-image:url(background.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment;
   background-position: center;
   overflow: hidden; 
}
/* ---------logo img ---------------*/

.logo img {
    position: relative;
  margin-left: 20px;
  top: 10px;
  border-radius: 90%;
  }

  /* ---------menu dropdown---------------*/

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: aquamarine;
    text-decoration: none;
    font-weight: bold;

}
nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(3, 241, 3, 0.979);
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover::after {
    width: 100%;
}
nav ul li a:hover{
    transition:2ms;
    color: blueviolet;
}    
ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 90px;
    /*flex-direction: column; */
    gap: 10px;

}
ul li{
   position: relative;
   list-style: none; 
}
ul li a{
    position: relative;
    font-size: 25px;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase; 
    color: transparent;
    -webkit-text-stroke: 0.1px rgba(253, 250, 250, 0.5);
}
ul li a::before{
    content: attr(data-text);
    position:absolute;
    color: var(--clr);
    width: 0px;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}
ul li a:hover::before
{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}

/* cutting line --------------------------- */

.main{
position: absolute;
left: 450px;
bottom: 400px;

}
.main p{
    position:absolute;
    color: aqua;
    height: auto;
    top: 40px;
    left: 140px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-family:'Courier New', Courier, monospace;
    
}
.main h1{
    color: white;
    font-size: 35px;
    height: auto;
    font-weight: 600;
    letter-spacing: 0.5px;

}
/*
.light{
    position: absolute;
    top: 0;
    left: 0;
    right: 100px;
    width: 10px;
    height: 90%;
    border: radius 10px;
    background: rgb(3, 3, 3);
    z-index: 2;
   animation: animatelight 5s linear infinite;
}
@keyframes animatelight{
    0%,5%
    {
        transform: scaleY(0) translateX(0);
    }
    10%
    {
        transform: scaleY(1) translateX(0);
    }
    90%
    {
        transform: scaleY(1) translateX(calc(600px - 10px));
    }
    95%,100%
    {
        transform: scaleY(0) translateX(calc(600px - 10px));
    }

}
*/
.toplayer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 580px;
    height: 90%;
    background:transparent;
    animation: animatetoplayer 10s linear infinite;

}
@keyframes animatetoplayer{
    0%,2.5%
    {
        transform: translateX(0);
    }
    5%
    {
        transform: translateX(0);
    }
    45%
    {
        transform: translateX(100%);
    }
    47.5%,50%
    {
        transform: translateX(100%);
    }

    50.001%,52.5%
    {
        transform: translateX(-100%);
    }
    55%
    {
        transform: translateX(-100%);
    }
    95%
    {
        transform: translateX(0);
    }
    97.5%,100%
    {
        transform: translateX(0);
    }
}

/*  3d image ---------------------------- */

.cube{
    position: absolute;
    left: 45%;
    top: 80%;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 8s linear infinite;

}
@keyframes animate
{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
   100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;

}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background: linear-gradient(#f01818,#00ec00);
    transform: rotateY(calc(90deg * var(--i)))translateZ(49px);

}
.top{
    position:absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: linear-gradient(#ee0a0a,#00ec00);
    transform: rotateX(90deg) translateZ(50px);
}
.top::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: rgb(4, 235, 16);
    transform: translateZ(-100px);
    filter: blur(50px);
    box-shadow: 0 0 100px rgba(0,255,0,0.2),
                0 0 100px rgba(0,255,0,0.4),
                0 0 100px rgba(0,255,0,0.6),
                0 0 100px rgba(0,255,0,0.8);
    
}

/* ----------------- drops _________________________*/
.colo{
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url();
    background-size: cover;
    background-position: center ;
    overflow: hidden;
    
}
.logo1{
position: relative;
  width: 120px;
  height: auto;
  bottom: 25%;
  margin-left: 45%;
}
.bubble img{
    width: 50px;
    animation: bubble 5s linear infinite;
    border-radius: 50%;
    background: linear-gradient(green, rgb(111, 240, 6),green,green);
}
.bubble{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -20px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
         opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-70vh);
        opacity:0 ;
    }
}
.bubble img:nth-child(1){
    animation-delay: 2s;
    width: 40px;
}
.bubble img:nth-child(2){
    animation-delay: 1.5s;
    width: 30px;
}
.bubble img:nth-child(3){
    animation-delay: 3.0s;
}
.bubble img:nth-child(4){
    animation-delay: 4.5s;
    width: 25px;
}
.bubble img:nth-child(5){
    animation-delay: 5.0s;
    width: 40px;
}
.bubble img:nth-child(6){
    animation-delay: 6.2;
}
.bubble img:nth-child(7){
    animation-delay: 7.0s;
    width: 30px;
}
.bubble img:nth-child(8){
    animation-delay: 8.5s;
}

@media screen and (max-width:500px){
    .logo img {
      border-radius: 50%;
      }
      nav ul li {
        padding: 5px 10px;
    }
    nav ul li a{
        font-weight:5px;
    
    }
    ul {
        position:relative;
        display: inline-flex;
        top: -100px;
        bottom:0 ;
        left:72%;
        flex-direction: column; 
        gap: 2px;
    }
    ul li a{
        position: relative;
        font-size: 12.5px;
        text-decoration: none;
        line-height: 0.5em;
        letter-spacing: 1px;
        text-transform: uppercase; 
    }

    .main{
        left: 35px;
        bottom: 400px;
        
        }

        .main h1{
           
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.25px;
        
        }
        .main p{
            left: 20px;
            height: auto;
        }
        .toplayer
        {
           width: 580px;
          
        }

        .cube{
            position: absolute;
            left: 30%;
            top: 65%;
        }
}
